body {
    background-color: #0b0b0b; /* Warna gelap ala video */
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in;
}

p {
    font-size: 1.2rem;
    color: #ccc;
    margin-bottom: 30px;
}

button a {
  text-decoration: none;
  color: white;
}

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    color: black;
}

.hidden {
    display: none;
}

#kontenRahasia img {
    width: 200px;
    margin-top: 20px;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
